<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>tp1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       <style>
        body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px 32px;
}

h1, h2, h3 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  line-height: 1.4;
}

input[type="text"],
input[type="number"] {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: calc(100% - 100px);
  margin-right: 8px;
  box-sizing: border-box;
}

button {
  padding: 5px 6px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

input[type="checkbox"] {
  margin-right: 8px;
}

p {
  font-size: 0.95rem;
  margin: 12px 0;
  color: #333;
}

strong {
  color: #34495e;
}
    </style>

</head>
<body>
  <div id="app">
    <h1>{{ mensaje }}</h1>
    <ul>
      <li>Nombre: {{ nombre }}</li>
      <li>Edad: {{ edad }}</li>
      <li>Ciudad: {{ ciudad }}</li>
      <li>Hola, mi nombre es {{ nombre }}, tengo {{ edad }} años y vivo en {{ ciudad }}.</li>
    </ul><br>

    <button @click="incrementar">Incrementar</button>
    <button @click="decrementar">Decrementar</button>
    <p>Contador: {{ contador }}</p><br>

    <input v-model="nuevaTarea" placeholder="Nueva tarea">
    <button @click="agregarTarea">Agregar tarea</button>

    <ul>
      <li v-for="tarea in tareas" :key="tarea.id">
        <input type="checkbox" v-model="tarea.completa" @change="guardarTareas">
        {{ tarea.texto }}
      </li>
    </ul>

    <p>Tareas pendientes: {{ tareasPendientes }}</p>
    <p>Total tareas: {{ totalTareas }}</p>

    <h2>Eventos registrados</h2>
    <ul>
      <li v-for="evento in listaeventos" :key="evento.id">
        ID {{ evento.id }} - {{ evento.nombre }} - {{ evento.timestamp }}
      </li>
    </ul>


    <h2>Buscar Post</h2>
      <input v-model="postId" type="number" placeholder="Ingrese postId">
      <button @click="buscarPost">Buscar</button>

    <div v-if="post">
      <h3>Post #{{ post.id }}</h3>
      <p><strong>Título:</strong> {{ post.title }}</p>
      <p><strong>Contenido:</strong> {{ post.body }}</p>
    </div>

    <div v-if="comentarios.length">
      <h3>Comentarios</h3>
      <ul>
        <li v-for="comentario in comentarios" :key="comentario.id">
        <strong>{{ comentario.name }}</strong>: {{ comentario.body }}
        </li>
      </ul>
    </div>

    <h2>Primeros 10 Posts</h2>
    <ul>
      <li v-for="post in listaPosts" :key="post.id">
      <strong>{{ post.title }}</strong>
      <button @click="obtenerComentariosDePost(post.id)">Ver comentarios</button>
    </li>
    </ul>

    <div v-if="comentariosPostSeleccionado.length">
    <h3>Comentarios del post seleccionado</h3>
    <ul>
      <li v-for="comentario in comentariosPostSeleccionado" :key="comentario.id">
      <strong>{{ comentario.name }}</strong>: {{ comentario.body }}
      </li>
    </ul>
    </div>

  </div>

  <script>
    // Variable Externa para eventos antes de que Vue exista.
    const eventosTemporales = [];

    // Función para registrar eventos fuera de Vue
    function registrarEventoGlobal(nombreEvento) {
      const ahora = new Date();
      const timestamp = ahora.toLocaleString('es-AR', {
        hour12: false,
        timeZone: 'America/Argentina/Buenos_Aires',
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      }) + '.' + ahora.getMilliseconds();

      eventosTemporales.push({
        id: eventosTemporales.length + 1,
        nombre: nombreEvento,
        timestamp: timestamp
      });
    }

    // Registro de evento antes de crear Vue
    registrarEventoGlobal('beforeCreate');

    const { createApp } = Vue;

    createApp({
      data() {
        return {
          contadorID: eventosTemporales.length + 1,
          mensaje: 'Parcial2 PWA',
          nombre: 'Ana Garcia',
          edad: '30',
          ciudad: 'Tupungato',
          contador: 0,
          nuevaTarea: '',
          listaeventos: [],
          tareas: [
            { id: 1, texto: 'Estudiar Vue', completa: false },
          ],
          postId: '',
          post: null,
          comentarios: [],
          listaPosts: [],
          comentariosPostSeleccionado: [],


        };

      },

      methods: {
        registrarEvento(nombreEvento) {
          const ahora = new Date();
          const timestamp = ahora.toLocaleString('es-AR', {
            hour12: false,
            timeZone: 'America/Argentina/Buenos_Aires',
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
          }) + '.' + ahora.getMilliseconds();

          this.listaeventos.push({
            id: this.contadorID++,
            nombre: nombreEvento,
            timestamp: timestamp
            
          });

          
        },

        incrementar() {
          this.contador++;
          this.registrarEvento('Incrementar');
        },
        decrementar() {
          this.contador--;
          this.registrarEvento('Decrementar');
        },
        agregarTarea() {
          if (this.nuevaTarea.trim() !== '') {
            const nuevoId = Date.now();
            this.tareas.push({
              id: nuevoId,
              texto: this.nuevaTarea,
              completa: false
            });
            this.nuevaTarea = '';
            localStorage.setItem('tareas', JSON.stringify(this.tareas));
            this.registrarEvento('Agregar Tarea');
          }
        },
        guardarTareas() {
          localStorage.setItem('tareas', JSON.stringify(this.tareas));
          this.registrarEvento('Actualizar Tarea');
        },

        buscarPost() {
        if (!this.postId) return;

          obtenerPost(this.postId).then(post => {
        this.post = post;
        this.registrarEvento(post ? `Post ${this.postId} obtenido` : `Error al obtener post ${this.postId}`);
        });

        obtenerComments(this.postId).then(comentarios => {
        this.comentarios = comentarios;
        this.registrarEvento(comentarios.length ? `Comentarios del post ${this.postId} obtenidos` : `Sin comentarios para el post ${this.postId}`);
        });
        },

        obtenerPrimerosPosts() {
        this.listaPosts = [];
        const promesas = [];

        for (let i = 1; i <= 10; i++) {
        promesas.push(
        obtenerPost(i).then(post => {
        if (post) {
          this.registrarEvento(`Post ${i} agregado a listaPosts`);
          return post;
        } else {
          this.registrarEvento(`Error al obtener post ${i}`);
          return null;
        }
      })
    );
  }

  Promise.all(promesas).then(posts => { //tuve que usar promise para que los 10 posts se carguen correctamente en orden de ID. si no usaba esto, se cargaban desordenados.
    // ya que hacia las llamadas asincronas y no esperaba a que termine una para hacer la otra.
    this.listaPosts = posts.filter(p => p !== null).sort((a, b) => a.id - b.id);
  });
},




      obtenerComentariosDePost(postId) {
      obtenerComments(postId).then(comentarios => {
      this.comentariosPostSeleccionado = comentarios;
      this.registrarEvento(`Comentarios del post ${postId} cargados`);
      });
        }
      },

     

      computed: {
        tareasPendientes() {
          return this.tareas.filter(tarea => !tarea.completa).length;
        },
        totalTareas() {
          return this.tareas.length;
        }
      },

      created() {
        this.listaeventos = [...eventosTemporales];
        this.registrarEvento('created');
      },
      beforeMount() {
        this.registrarEvento('beforeMount');
      },
      mounted() {
        this.registrarEvento('mounted');
        this.obtenerPrimerosPosts();
      },
      //beforeUpdate() {
        //this.registrarEvento('beforeUpdate'); //para que la lista de eventos no sea tan larga comenté este evento.
      //},
      //updated() {
        //this.registrarEvento('updated'); //y este también. para que no se generé un bucle infinito al actualizar el DOM.
       //},
      beforeUnmount() {
        this.registrarEvento('beforeUnmount');
      },
      unmounted() {
        this.registrarEvento('unmounted');
      },  
     })


    .mount('#app');

    function obtenerPost(postId) { //recibe un paramatreo postId. que es el id del post a consultar.
    return axios.get(`https://jsonplaceholder.typicode.com/posts/${postId}`) //hace la llamada a la API.
    .then(response => response.data) //devuelve los datos del post.
    .catch(error => {
      console.error(`Error al obtener el post ${postId}:`, error);
      return null;
    });

  }

    function obtenerComments(postId) { //recibe un paramatreo postId. 
    return axios.get(`https://jsonplaceholder.typicode.com/posts/${postId}/comments`) //hace la llamada a la API.
    .then(response => response.data) //devuelve un array con los comentarios del post.
    .catch(error => {
      console.error(`Error al obtener comentarios del post ${postId}:`, error);
      return [];
    });
  }



  </script>
</body>
</html>
